<h1>Ask Your Coach a Question</h1>
<p>Find me in app/views/coach_controller/ask.html.erb</p>
<form action="/answer" method="get">
  <label for="question">Speak to your coach</label>
  <input type="text" name="user_question" placeholder="Say something">
  <input type="submit" value="Go on!">
</form>
